
body{/* Corps du site*/
  margin:0;
  padding:0;
  border:1px solid black;
}

h1{/*Nom et Prénom*/
  font-weight: lighter;
  font-size: 3.8em;
  font-family: trebuchet ms;
  width: auto;
  padding-top: 15%;
  padding-left: 15%;
  margin-top: 0%;
  margin-bottom: 0%;
}

h3{
  text-align: center;
  background-color:#424242; 
  color: #FFD54F;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.8em;
}


h2{  
  width: 100%;
  padding-left: 15%;
  margin-top: 0%;
  margin-bottom: 0%;
}


#main{
  height: 100%;
  width: 100%;
  display: flex;
  max-width: 1200px;
  border:1px solid black;
  margin-left: auto;
  margin-right:auto;

}

#right{
  height: auto;
  width: 60%;
  display: flex;
  flex-direction: column;
  font-size: 1em;
}

.left{
  border: 1px solid black;
  width: 30%;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: #FFD54F;
}

.responsive{
  align-items: flex-start;
  justify-content: center;
  clip-path: circle(75px at center);
  max-height: 200px;
  max-width: 200px;
  margin-left: 22%;
}
.coordonnées{
  align-items: center;
  width: auto;
}
.up{
  height: 0.5em;
}
.prenom{
  color:#FFD54F;
}
address{
font-size: 1.2em;
font-style: normal;
margin-left: 12%;

}
.text{
  height: 30%;
  font-size: 1.2em;
  text-align: center;
  margin: 5%;
}
.loisirs{
  display: flex;
  justify-content: space-between;
  width: 65%;
  padding-left: 15%;
  color: #424242;
}

}
.under{
  text-decoration-color: #FFD54F;
}

h4{
  font-size: 1.8em;
  margin: 0;
  width: 600px;

}
hr{
  color: #FFD54F;
  margin-left: 0;
  margin-top: 0;
  width: 

}
.formation{
  margin-left: 12%;
  margin-top: 10%;
}
i{
  float: left;
  width: auto;
  font-size: 1.1em;
}

.list{
  margin-left: 12%;
  width: 0px;
  height: auto;
  float: 
}

h5{
  font-size: 1.1em;
  margin-bottom: 0%;
  margin-top: 0%;
  height: 15px;
}
a{
  text-decoration: none;
  color: black;
}
.infos{
font-size: 1.3em;
font-family: trebuchet ms;
width: 400px;
height: auto;
margin-left: 350px;
}
.recommandations{
  width: 300px;
  font-size: 1.3em;
  height: auto;
  float: left;
}
.p1{
  margin-top: 2%;
}
.recommandations1{
  margin-left: 350px;
  width: 300px;
  font-size: 1.3em;
  height: auto;
}

@media (max-width:1200px )
{
#main{
  flex-direction: column;
  font-size: 0.6em;
  width: 100%;
  position: relative;
}

.formation{
  margin: 0;
  width: auto;
}
.list{
  margin: 0;
}
.left{
  width: auto;
  text-align: center;
}
#right{
  display: inline;
  flex-direction: row;
  font-size: 1.3em;
}
.infos{
  margin-left: 
  width: auto;
}
#right1{
  width: auto;
}
.prenom{
  color: black;
}
.recommandations{
  font-size: 1.1em;
}
.recommandations1{
  margin-left:
  font-size: 1.1em;

}
h1{
  position: absolute;
  width: 100%;
  height: auto;
  font-size: 3.5em;
  text-align: center;
  top: 8.3%;
  padding-top: 0;
  padding-left: 0;


}
address{
  margin: auto;
}
hr{
  width: auto;
  
}
h2{
  position: absolute;
  width: 100%;
  height: auto;
  text-align: center;
  top: 10.5%;
  padding-top: 0;
  padding-left: 0;
  font-size: 2.2em;
}
.coordonnées{
  margin-bottom: 0;
}
.responsive{
  max-height: 200px;
  max-width: 200px;
  width: 100%;
  height: 100%;
  margin: auto;
  margin-bottom: 100px;
}
address{
  font-size: 1.8em;
}
td{
  font-size: 1.5em;
}
h4{
  font-size: 1.7em;
  width: 375px;
}
h5{
  width: auto;
}
.loisirs{
  font-size: 1.5em;
  margin: auto;
  padding: 0;

}
.text{
  font-size: 1.8em;
  margin: 0;
}
@media screen (min-width:px)
{
#main{
  display: flex;
  font-size: 0.6em;
  max-width: 1024px;
  height: auto;
}


.formation{
  margin: 0;
  width: auto;
}
.list{
  margin: 0;
}
.left{
  width: auto;
}
#right{
  width: 768px;
  font-size: 1.3em;
}
.infos{
  display: inline-block;
  margin-left: auto;
  width: auto;
}
.recommandations{
  width: 400px;
  font-size: 1.1em;
}
.recommandations1{
  margin-left: 340px;
  font-size: 1.1em;

}
h1{
  padding-top: 0;
  text-align: left;
}
hr{
  width: 
  max-width: 1024px;
  min-width: 768px;
}
h2{
  margin-bottom: 5%;
}
.coordonnées{
  margin-bottom: 0;
}
.responsive{
  max-height: 400px;
  max-width: 400px;
  width: 100%;
  height: 100%;
  margin: auto;
}
.photo{
  padding-left: 13%;
}
td{
  font-size: 1.5em;
}
h4{
  font-size: 1.7em;
}
.loisirs{
  font-size: 1.5em;
}
.text{
  font-size: 1.8em;
  margin: 0;
}

@media screen (min-width: 992px)