
body{/* Corps du site*/
  margin:0;
  padding:0;
  border:1px solid black;
}

h1{/*Nom et Prénom*/
  font-weight: lighter;
  font-size: 3.8em;
  font-family: "trebuchet ms";
  width: auto;
  padding-top: 15%;
  padding-left: 15%;
  margin-top: 0%;
  margin-bottom: 0%;
}

h3{
  text-align: center;
  background-color:#424242; 
  color: #FFD54F;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.8em;
}


h2{  
  width: 100%;
  padding-left: 15%;
  margin-top: 0%;
  margin-bottom: 0%;
}


#main{
  display: flex;
  width: 1200px; 
  margin-left: auto;
  margin-right:auto;
  font-family: "trebuchet ms";

}

.left{
  width: 80%;
  display: flex;
  flex-direction: column;
  font-size: 0.9em;
  background-color: #FFD54F;
}

.responsive{
  align-items: flex-start;
  justify-content: center;
  clip-path: circle(75px at center);
  height: 210px;
  max-width: 200px;
  margin-left: 22%;
}
.coordonnées{
  align-items: center;
  width: auto;
}
.up{
  height: 0.5em;
}
.prenom{
  color:#FFD54F;
}
address{
font-size: 1.3em;
font-style: normal;
margin-left: 12%;
line-height: 130%;
}
.text{
  height: 35%;
  font-size: 1.3em;
  text-align: center;
  margin: 5%;
}
#droite, #droite1, #droite2, #droite3, #droite4{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.loisirs{
  display: flex;
  justify-content: space-around;
  color: #424242;
}

.under{
  text-decoration-color: #FFD54F;
}

h4{
  font-size: 1.8em;
  margin: 0; 
}
p{
  margin: 0;
}
hr{
  color: #FFD54F;
  margin-left: 0;
  margin-top: 0;

}
.formation{
  margin-left: 12%;
  margin-top: 10%;
}
.date{
  width: 140px;
  display: inline-block;
}
.list{
  margin-left: 12%;
  margin-top: 20px;
  font-size: 1.2em;
  width: 30%;
}
.fa-marker, .fa-dot-circle, .fa-briefcase, .fa-graduation-cap{
  color: #FFD54F; 
}
.fa-dot-circle, .fa-circle{
  float: left;
  margin-right: 18px;
  margin-top: 12px;
  color: #FFD54F;
}

.fa-circle{
font-size:0.8em;
}

.fa-biking, .fa-basketball-ball, .fa-table-tennis{
  margin-bottom: 2%;
  border: 1px solid black;
  border-radius: 50%;
  padding: 5px;
}

h5{  margin: 0;
  font-size: 1.3em;
}
em{
  line-height: 200%;
}
a{
  text-decoration: none;
  color: black;
}
.infos{
font-size: 1.2em;
width: 70%;
margin-left: 5%;
margin-top: 20px;
}
#recommandations{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 20px;
}
.recommandations1{
  font-size: 1.3em;
  margin-left: 2%;

}

.recommandations2{
  font-size: 1.3em;
}

@media (max-width:1200px )
{
#main{
  flex-direction: column;
  font-size: 0.6em;
  width: 100%;
  position: relative;
  border:none;
}

.fa-biking, .fa-basketball-ball, .fa-table-tennis{
  margin-left: 5%;
  margin-right: 15%;
  margin-bottom: 0;
}
.formation{
  margin: 0;
  width: auto;
}
#loisirs1{
  position: absolute;
  bottom: -120px;
  width: 100%;
  height: 120px;
  background-color: #FFD54F;


}
.list{
  margin: 0;
  margin-top: 15px;
}
.left{
  width: auto;
  text-align: center;
}
#right{
  display: inline;
  flex-direction: row;
  font-size: 1.3em;
}
.infos{
  width: auto;
  margin-top: 5px;
}
#right1{
  width: auto;
}
.prenom{
  color: black;
}

.date{
  width: auto;
  padding-top: 10px;
}
h1{
  position: absolute;
  width: 100%;
  height: auto;
  font-size: 3em;
  text-align: center;
  top: 170px;
  padding-top: 0;
  padding-left: 0;

}
.fa-marker, .fa-dot-circle, .fa-briefcase, .fa-graduation-cap{
  color: #FFD54F; 
}

address{
  margin: auto;
  padding-bottom: 15px;
  padding-top: 15px;
}
hr{
  width: 100%;
  margin-bottom: 0;
  
}
h2{
  position: absolute;
  width: 100%;
  height: auto;
  text-align: center;
  top: 210px;
  padding-top: 0;
  padding-left: 0;
  font-size: 2em;
}
.coordonnées{
  margin-bottom: 0;
}
.responsive{
  width: 170px;
  height: 170px;
  margin: auto;
  margin-bottom: 100px;
  clip-path: circle(65px at center);
}
#recommandations{
  justify-content: flex-start;
  margin-top: 10px
}
.recommandations1{
  margin-left: 20px;

}
.recommandations2{
  margin-left: 20%;
}
#droite, #droite1, #droite2, #droite3, #droite4{
  display: flex;
  flex-direction: column;
}
h3{
  font-size: 2em;
  margin:0;
}
address{
  font-size: 1.8em;
}
td{
  font-size: 1.5em;
}
h4{
  font-size: 1.7em;
  margin-top: 2%;
  margin-left: 20px;
  width: 90%;
}
h5{
  width: auto;
}
.loisirs{
  font-size: 1.5em;
  margin-top: 25px;
  padding-left: 20px;
  margin-top: 15px;

}
.text{
  font-size: 1.8em;
  margin: auto;
  padding-bottom: 10px;
  padding-top: 10px;
}
.list{
  width: auto;
  margin-left: 20px;
}
.infos{
  margin-left: 20px;
  width: auto;
}

.fa-dot-circle, .fa-circle{
  margin-right: 5px;
}
@media(max-width:572px)
{
#recommandations{
  display: flex;
  flex-direction: column;
  line-height: 150%;
}

.recommandations2{
  margin-left: 20px;
  margin-top: 20px;
}
.responsive{
  clip-path: circle(60px at center);
  width: 150px;
  height: 150px;
}
h1{
  top: 150px;
  font-size: 2.7em;
}

h2{
  top: 190px;
  font-size: 2em;
}

.loisirs{
  font-size: 1.3em;

}